$color1:white;
$color2:#090c31;
$color3:gray;
$color4:#00c853;
$dark:rgb(44,44,44);
$text1:"Roboto";
$text2:cursive;
$bgcolor1:#eeeeee;
$bgcolor2:#ffff;
$bgcolor3:black;
$font-weight:700;
$font-size:15px;
$font-size2:18px;

$first_btn:#f44336;
$second_btn:#00c853;